<div class="card">
  <div class="card-header">
    <h3>Registrar Noticia</h3>
  </div>
  <jqxMenu #jqxMenu style='margin-left: 5px; margin-right: 5px; margin-top: 5px;' (onItemclick)="itemclick($event)"
    [source]="menus" [theme]="'material'" [width]="'auto'" [height]="30">
  </jqxMenu>
  <jqxValidator #myValidator [rules]="rules" [hintType]="'label'" (onValidationSuccess)="ValidationSuccess($event)">
    <form id='formNoticias' action="./">
      <div class="row">
        <div class="col-md-8">
          <div class="card card-accent-info" style='margin-left: 5px; margin-top: 10px;
          margin-bottom : 5px;'>
            <div class="card-header">
              <h5 style="padding: 0; margin: 0;"> Información Básica</h5>
            </div>
            <div class="card-body">
              <div class="form-group row">
                <div class="col-md-3">Titulo:</div>
                <div class="col-md-9">
                  <jqxInput #txtTitulo [maxLength]="255" class="tituloInput" [width]="'100%'" [disabled]="false"
                    [height]="22" name="titulo" [theme]="'material'" [(ngModel)]="noticiaAng.titulo">
                  </jqxInput>
                </div>
                <!-- (onChange)="verificarCedulaExiste()" -->
              </div>
              <!-- <div class="form-group row">
                <div class="col-md-6">
                  <jqxFileUpload #myFileUpload style="float: left" (onSelect)="onSelect($event)"
                    (onRemove)="onRemove($event)" (onUploadStart)="onUploadStart($event)"
                    (onUploadEnd)="onUploadEnd($event)" [width]="'100%'" [uploadUrl]="'upload.php'"
                    [fileInputName]="'fileToUpload'" [localization]="localization" >
                  </jqxFileUpload>
                </div>
                <div class="col-md-6">
                  <div style="margin-bottom: 10px; font-family: Verdana; font-size: smaller">
                    Datos del Archivo</div>
                  <jqxPanel #myPanel [width]="'100%'" [height]="150"></jqxPanel>
                </div>
              </div> -->
              <div class="form-group row">
                <div class="col-md-3">Contenido:</div>
                <div class="col-md-9">
                  <jqxTextArea #txtContenido class="contenidoInput" [width]="'100%'" [height]="70" [maxLength]="255"
                    name="contenido" [placeHolder]="'Ingrese el contenido'" [theme]="'material'"
                    [(ngModel)]="noticiaAng.contenido">
                  </jqxTextArea>
                </div>
              </div>

              <div class="form-group row">
                <div class="col-md-3">Fuente:</div>
                <div class="col-md-9">
                  <jqxInput #txtFuente [maxLength]="255" class="fuenteInput" [width]="'100%'" [disabled]="false"
                    [height]="22" name="fuente" [theme]="'material'" [(ngModel)]="noticiaAng.fuente">
                  </jqxInput>
                </div>
              </div>
              <div class="form-group row">
                <!-- <label for="img">File</label> -->
                <div class="col-md-6">Archivo: </div>
              </div>
              <div class="form-group row">
                <div class="col-md-12">
                  <input type="file" class="form-control" id="img" name="img" ngModel>
                </div>
              </div>
              <div class="form-group row">
                <div class="col-md-6">
                  <div align="center" class="item">
                    <!-- height="190" width="190" -->
                    <img style="width:100%; height:190px" class="img-thumbnail center-block" [src]="imagenDefecto"
                      alt="">
                  </div>
                </div>
              </div>

              <!-- <div class="form-group row">
                <div class="col-md-3">Archivo:</div>
                <input type="file" class="form-control" id="img" name="img" ngModel>
              </div>
              <div class="form-group row">
                <img [src]="noticiaAng.rutaArchivo" alt="">
              </div> -->
            </div>
          </div>
        </div>
      </div>
    </form>
  </jqxValidator>
</div>
<app-modal-component></app-modal-component>

<pre>
<!-- {{noticiaAng | json}} -->
<!-- {{this.estudianteOfertas | json}}   -->
<!-- {{dataAdapterTiposMatricula | json}}   -->
</pre>