<jqxMenu style='margin-left: 3px; margin-top: 5px;' #jqxMenu (onItemclick)="itemclick($event)" [source]="menus"
  [theme]="'darkblue'" [width]="'auto'" [height]="30">
</jqxMenu>

<jqxExpander style='margin-left: 3px; margin-top: 5px;' [theme]="'darkblue'" [width]="'auto'" [showArrow]="false"
  [toggleMode]="'none'">
  <div>
    <h3 style="padding: 0; margin: 0;margin-top: 10px; font-family: Verdana">
      {{opcion}} {{descripcionTipoMovilidad}}
    </h3>
  </div>
  <jqxValidator #myValidator [rules]="rules">
    <form id='formMovilidad' action="./">
      <div style="padding: 5px;">
        <table class="register-table">
          <tbody>
            <div class="card1">
              <div class="card card-accent-info">
                <div class="card-header">
                  <h4 style="padding: 0; margin: 0;"> Datos del Estudiante </h4>
                </div>
                <div class="card-body">
                  <tr>
                    <td style='margin-left: 40px; font-weight:bold; margin-bottom : 100px;' [width]="750">
                      Identificacion:</td>
                    <td [width]="750">{{labelIdentificacion}}</td>
                    <td style='margin-left: 40px; font-weight:bold; margin-bottom : 100px;' [width]="750">Malla:</td>
                    <td [width]="750">{{labelMalla}}</td>
                  </tr>
                  <tr>
                    <td style='margin-left: 40px; font-weight:bold; margin-bottom : 100px;' [width]="750">Nombres:</td>
                    <td [width]="750">{{labelNombres}}</td>
                    <td style='margin-left: 40px; font-weight:bold; margin-bottom : 100px;' [width]="750">Tipo
                      Movilidad:</td>
                    <td [width]="750">{{labelTipoMovilidad}}</td>
                  </tr>
                  <tr>
                    <td style='margin-left: 40px; font-weight:bold;margin-bottom : 100px;' [width]="750">Carrera:</td>
                    <td [width]="750">{{labelCarrera}}</td>
                    <td style='margin-left: 40px; font-weight:bold; margin-bottom : 100px;' [width]="750">Subtipo
                      Movilidad:</td>
                    <td [width]="750">{{labelSubtipoMovilidad}}</td>
                  </tr>
                  <tr>
                    <td style='margin-left: 40px; font-weight:bold; margin-bottom : 100px;' [width]="750">
                      Número de Resolución:</td>
                    <td>
                      <jqxInput #myNumDocumento [width]="400" [height]="22" name="numDocumento" class="numeroDocInput"
                        [theme]="'darkblue'" [maxLength]="20" [(ngModel)]="labelNumeroDocumento"></jqxInput>
                    </td>
                  </tr>
                </div>
                <div class="card-footer" style='margin-left: 3px; margin-top: 5px;'>
                  <tr>
                    <td style='margin-left: 40px;'>NOTA : Si existen asignaturas en color gris, aquellas han sido
                      registradas en otro Subtipo de Movilidad.</td>
                  </tr>
                  <tr>
                    <td style='margin-left: 40px;'>Solo podrán ser editadas accediendo a la modalidad correspondiente!
                    </td>
                  </tr>
                </div>
              </div>
            </div>
            <div>
              <jqxGrid #myGriDMovilidad style='margin-left: 3px;' [theme]="'darkblue'" [width]="'100%'" [height]="'20%'"
                (onCellendedit)="marcarAsignaturas($event)" [source]="dataAdapterDetalleMovilidadAsig"
                [columns]="columnasMovilidad" [editable]="true" [selectionmode]="'none'" [enabletooltips]="true"
                [showaggregates]="true" [statusbarheight]="50" [filterable]="true" [pageable]="true"
                [rendergridrows]="rendergridrows" (onRowunselect)="eliminarRegistrosAnteriores($event)"
                (onRowselect)="activarRegistrosAnteriores($event)" [localization]="localization" >
              </jqxGrid>
            </div>
          </tbody>
        </table>
      </div>
    </form>
  </jqxValidator>
</jqxExpander>
<app-modal-component></app-modal-component>

<pre>
<!-- {{pojoMobilidad | json}}  -->
<!-- {{movilidadAng | json}}  -->
<!-- {{detalleMovilidadAng | json}}  -->

</pre>