<div class="row">
  <div class="col-sm-12">
    <div class="card" style="width: 100%">
      <div class="card-header">
        <jqxMenu style='margin-left: 3px; margin-top: 5px;' (onItemclick)="itemclick($event)" [source]="menuMatricula"
          [theme]="'darkblue'" [width]="'99%'" [height]="30">
        </jqxMenu>
      </div>

      <div class="card-header">
        <div class="row">
          <div class="col-md-1">
            <div style="text-align:left">Facultad:</div>
          </div>
          <div class="col-md-2">
            <jqxComboBox #mySelectDepartamento [theme]="'darkblue'" [displayMember]="'departamento'" [selectedIndex]="0"
              [valueMember]="'idDepartamento'" [source]="dataAdapterDepartamento" [width]="'100%'" [height]='25'
              (onSelect)="ListarOferta()" name="departamento" [dropDownHorizontalAlignment]="'left'" [dropDownWidth]="360" >
            </jqxComboBox>
          </div>
          <div class="col-md-1">
            <div style="text-align:left">Carrera:</div>
          </div>
          <div class="col-md-2">
            <jqxComboBox #mySelectOferta [theme]="'darkblue'" [selectedIndex]="0" [displayMember]="'oferta'"
              [valueMember]="'idOferta'" [source]="dataAdapterOferta" [width]="'100%'" [height]='25'
              (onSelect)="listarEstudiantes()" name="oferta" [dropDownWidth]="300">
            </jqxComboBox>
          </div>
          <div class="col-md-1">
            <div style="text-align:left">Tipo Movilidad:</div>
          </div>
          <div class="col-md-2">
            <jqxComboBox #mySelectTipoMovilidad [theme]="'darkblue'" [selectedIndex]="-1"
              [displayMember]="'descripcion'" [valueMember]="'id'" [source]="dataAdapterTipoMovilidad" [width]="'100%'"
              [height]='25' (onSelect)="ListarSubtipoMovilidad()" name="movilidad">
            </jqxComboBox>
          </div>
          <div class="col-md-1">
            <div style="text-align:left">Subtipo Movilidad:</div>
          </div>
          <div class="col-md-2">
            <jqxComboBox #mySelectSubtipoMovilidad [theme]="'darkblue'" [selectedIndex]="-1"
              [displayMember]="'descripcion'" [valueMember]="'id'" [source]="dataAdapterSubtipoMovilidad"
              [width]="'100%'" [height]='25' name="subtipo" [dropDownHorizontalAlignment]="'right'" [dropDownWidth]="300">
            </jqxComboBox>
          </div>
        </div>
      </div>
      <div class="card-body">
        <jqxGrid #gridlistaEstudianteOferta style='margin-left: 3px;' [theme]="'darkblue'" [width]="'100%'" [height]="'100%'"
          [source]="dataAdapterListaEstudianteOferta" [columns]="columnsEstudiante" [filterable]="true" 
          [pageable]="true" [showfilterrow]="true" [localization]="localization" [sortable]="false">
        </jqxGrid>
      </div>
    </div>
  </div>
</div>
<app-modal-component (PassMethods)="getEvents($event)"></app-modal-component>
<!--
<pre>
  {{sourceOferta |json}}
</pre>-->