.card1 {
  margin-top: 10px;
  margin-left: 10px;
  width: 49%;
  height: 200px;
  float: left;
  padding: 2px;
  
}

.card2 {
  margin-top: 10px;
  margin-left: 10px;
  width: 49%;
  height: 200px;
  float: left;
  padding: 2px;
  
}
.card3 {
  margin-top: 110px;
  margin-left: 10px;
  width: 98.5%;
  height: 300px;
  float: left;
  padding: 2px;
  
}


