<div class="row">
  <div class="col-sm-12">
    <div class="card" style="width: 100%">
      <div class="card-header">
        <h3> Listado de Scouts Registrados </h3>
        <jqxMenu style='margin-left: 3px; margin-top: 5px;' (onItemclick)="itemclick($event)" [source]="menuMatricula"
          [theme]="'material'" [width]="'99%'" [height]="30">
        </jqxMenu>
      </div>
      <div class="card-body" [hidden]="isCollapsed">
        <jqxGrid #gridScouts style='margin-left: 3px;' [theme]="'material'" [width]="'100%'"
          [source]="dataAdapterScouts" [columns]="columnsScouts" [filterable]="true" [pageable]="true"
          [showfilterrow]="true" [localization]="localization" [sortable]="false" [height]='600'>
        </jqxGrid>
      </div>
    </div>
  </div>


  <div class="card-footer" [hidden]="ocultarPdfViewer" class="col-sm-12">
    <div class="form-group row">
      <div class="col-md-4">
        <jqxButton #botonVolver [width]="'60'" [height]="'25'" [theme]="'material'" [disabled]="true"
          (click)="controlIsCollapsed()">Volver
        </jqxButton>
      </div>
    </div>
    <div class="form-group row">
      <div class="col-md-12">
        <ngx-extended-pdf-viewer #myPdfViewer [src]="pdfSrc" [hidden]="ocultarPdfViewer" backgroundColor="#ffffff"
          [height]="'90vh'" [useBrowserLocale]="true">
        </ngx-extended-pdf-viewer>
      </div>
    </div>
  </div>
</div>
<app-modal-component (PassMethods)="getEvents($event)"></app-modal-component>

<pre>
  <!-- {{dataAdapterPacientes |json}} -->
</pre>