<div class="row">
  <div class="col-sm-12">
    <div class="card" style="width: 100%">
      <div class="card-header">
        <h3> Historial de Matricula</h3>
        <jqxMenu style='margin-left: 3px; margin-top: 5px;' #jqxMenuMod (onItemclick)="itemclick($event)"
          [source]="menus" [theme]="'darkblue'" [width]="'auto'" [height]="30">
        </jqxMenu>
      </div>
      <div class="card-body" style="height: 100%">
        <table style="width:100%">
          <tbody>
            <div class="row">
              <div class="col-sm-2" style='font-weight:bold;'>Nombres:</div>
              <div class="col-sm-4">{{labelNombres}}</div>
              <div class="col-sm-2" style='font-weight:bold;'>Número de Matricula:</div>
              <div class="col-sm-4">{{labelNumeroMatricula}}</div>
            </div>

            <br />
            <br />
            <div class="col-md-12" [hidden]="ocultarGridReportes">
              <jqxGrid #myGridHistorialMatricula style='margin-left: 3px;' [theme]="'darkblue'" [width]="'100%'"
                [height]="455" [source]="dataAdapterListaEstudiantes" [columns]="columns" [rowdetails]="true"
                [rowsheight]="35" [hidden]="isCollapsed" [initrowdetails]="initRowDetails" [ready]="ready"
                [rowdetailstemplate]="rowdetailstemplate">
              </jqxGrid>
            </div>
          </tbody>
        </table>

        <div class="card-footer" [hidden]="isCollapsedPdf">
          <jqxButton #myButtonVolver [width]="'60'" [height]="'25'" [theme]="'darkblue'" [disabled]="true"
            (click)="controlIsCollapsed()">volver
          </jqxButton>
        </div>

        <div class="card" [hidden]="isCollapsedPdf">
          <div class="card-body">
            <ngx-extended-pdf-viewer #myPdfViewer [src]="pdfSrc" [hidden]="isCollapsedPdf" backgroundColor="#ffffff"
              [height]="'90vh'" [useBrowserLocale]="true">
            </ngx-extended-pdf-viewer>
          </div>
        </div>
      </div>
    </div>
  </div>
</div>


<!-- 
<pre>
  {{dataAdapterRecuperaDetalleMatricula | json}} 
</pre> -->