<div class="row">
  <div class="col-sm-12">
    <div class="card" style="width: 100%">
      <div class="card-header">
        <h3> Matriculación Estudiantil </h3>
        <jqxMenu style='margin-left: 3px; margin-top: 5px;' (onItemclick)="itemclick($event)" [source]="menuMatricula"
          [theme]="'darkblue'" [width]="'100%'" [height]="30">
        </jqxMenu>
      </div>
      <div class="card-header">
        <div class="row">
          <div class="col-md-2">
            <div style="text-align:left">Facultad:</div>
          </div>
          <div class="col-md-4">
            <jqxComboBox #comboDepartamento [theme]="'darkblue'" [displayMember]="'departamento'" [selectedIndex]="0"
              [valueMember]="'idDepartamento'" [source]="dataAdapterDepartamento" [width]="'100%'" [height]='25'
              (onSelect)="ListarOferta()" name="departamento" [dropDownHorizontalAlignment]="'left'"
              [dropDownWidth]="425" [autoDropDownHeight]="true">
            </jqxComboBox>
          </div>
          <div class="col-md-2">
            <div style="text-align:left">Carrera:</div>
          </div>
          <div class="col-md-4">
            <jqxComboBox #comboOferta [theme]="'darkblue'" [selectedIndex]="1" [displayMember]="'oferta'"
              [valueMember]="'idDepartamentoOferta'" [source]="dataAdapterOferta" [width]="'100%'" [height]='25'
              (onSelect)="listarEstudiantes()" name="oferta" [dropDownWidth]="425" [autoDropDownHeight]="true">
            </jqxComboBox>
          </div>
        </div>
      </div>
      <div class="card-body" style="height: 100%">
        <jqxGrid #gridlistaEstudianteMatricula style='margin-left: 3px;' [theme]="'darkblue'" [width]="'100%'"
          [source]="dataAdapterListadoEstudiantes" [columns]="columnsOferta" [pagesize]="pageinformation.size"
          [pagesizeoptions]="pagesizeoptions" [filterable]="true" [pageable]="true" [rendergridrows]="rendergridrows"
          [sortable]="false" [altrows]="true" [enabletooltips]="true" [autoloadstate]="true" [autosavestate]="true"
          [showfilterrow]="true" [localization]="localization" [height]='600'>
          <!-- [autoheight]="true" -->
        </jqxGrid>
        <!-- (onRowselect)="comprobarEstudianteHabilitado($event)"  -->
      </div>
    </div>
  </div>
</div>
<app-modal-component (PassMethods)="getEvents($event)"></app-modal-component>
<pre>
    <!-- {{dataAdapterListadoPeriodoMatricula |json}} -->
</pre>