<div class="card">
  <div class="card-header">
    <h3> Listado de Actividades Realizadas </h3>
  </div>
  <jqxMenu style='margin-left: 5px; margin-right: 5px; margin-top: 5px;' #jqxMenu (onItemclick)="itemclick($event)"
    [source]="menus" [theme]="'material'" [width]="'auto'" [height]="30">
  </jqxMenu>

  <jqxValidator #myValidator [rules]="rules" [hintType]="'label'">
    <form id='dedicacionDocenteForm' action="./">
      <div class="row">
        <div class="col-md-12">
          <!-- <div class="card card-accent-info" style='margin-left: 5px; margin-right: 5px; margin-top: 10px;
          margin-bottom : 5px;'>
            <div class="card-header">
              <h5 style="padding: 0;"> Listado de Citas </h5>
            </div>
            <div class="card-body">
              <div class="form-group row">
                <div class="col-md-1">Desde: </div>
                <div class="col-md-2">
                  <jqxDateTimeInput #dateDesde [formatString]="'yyyy-MM-dd'" [height]="22" [width]="'100%'"
                    [(ngModel)]="varFechaDesde" [theme]="'material'" [disabled]="false" name="desde">
                  </jqxDateTimeInput>
                </div>
                <div class="col-md-1">Hasta:</div>
                <div class="col-md-2">
                  <jqxDateTimeInput #dateHasta [formatString]="'yyyy-MM-dd'" [height]="22" [width]="'100%'"
                    [(ngModel)]="varFechaHasta" [theme]="'material'" [disabled]="false" name="hasta">
                  </jqxDateTimeInput>
                </div>
                <div class="col-md-4">
                  <jqxButton #btnBuscar style="margin-right: 5px;" (onClick)="listarCitasXFechas()"
                    [theme]="'material'">
                    Buscar
                  </jqxButton>
                </div>
              </div>
            </div>
          </div> -->
          <div class="row">
            <div class="card-body" style='height: 100%; margin-left: 5px;'>
              <jqxGrid #gridListadoActividades [theme]="'material'" [width]="'100%'" [source]="dataAdapterListadoActividades"
                [columns]="columnsActividades" [rendergridrows]="rendergridrows" [sortable]="false" [altrows]="true"
                [enabletooltips]="true" [autoloadstate]="true" [autosavestate]="true" [localization]="localization"
                [autoheight]="true" [filterable]="true" [pageable]="true" [showfilterrow]="true">
              </jqxGrid>
              <!-- (onRowselect)="comprobarEstudianteHabilitado($event)"  -->
            </div>
          </div>
        </div>
      </div>
    </form>
  </jqxValidator>
</div>

<div style="margin-left: 3px; margin-top: 10px; font-size: 13px; font-family: Verdana;" #eventLog></div>

<app-modal-component></app-modal-component>


<pre>
<!-- {{sourceDistributivoDocenteAsig| json}}  -->
<!-- {{dataAdapterListadoActividades | json}}     -->
</pre>