<div class="card">
  <div class="card-header">
    <h3> Registro de Consultas </h3>
  </div>
  <jqxMenu style='margin-left: 5px; margin-right: 5px; margin-top: 5px;' #jqxMenu (onItemclick)="itemclick($event)"
    [source]="menus" [theme]="'material'" [width]="'auto'" [height]="30">
  </jqxMenu>

  <jqxValidator #myValidator [rules]="rules" [hintType]="'label'">
    <form id='consultasForm' action="./">
      <div class="row">
        <div class="col-sm-12">
          <div class="card card-accent-info" style='margin-left: 5px; margin-right: 5px; margin-top: 10px;
          margin-bottom : 5px;'>
            <div class="card-header">
              <h5 style="padding: 0; margin: 0;"> Datos de la Cita </h5>
            </div>
            <div class="card-body">
              <div class="form-group row">
                <div class="col-md-2">Paciente: </div>
                <div class="col-md-4 ">{{labelPaciente}}</div>
                <div class="col-md-2">Médico: </div>
                <div class="col-md-4 ">{{labelMedico}}</div>
              </div>

              <div class="form-group row">
                <div class="col-md-1">Fecha: </div>
                <div class="col-md-1 ">{{labelFecha}}</div>
                <div class="col-md-1">Hora:</div>
                <div class="col-md-1 ">{{labelHora}}</div>
                <div class="col-md-1">Motivo Consulta:</div>
                <div class="col-md-2">{{labelMotivoConsulta}}</div>
                <div class="col-md-2">Estado de Consulta:</div>
                <div class="col-md-3">
                  <jqxComboBox #comboEstadoCita [theme]="'material'" [placeHolder]="'Elija un Estado...'"
                    [selectedIndex]="-1" [displayMember]="'estado'" [valueMember]="'codigo'" [source]="sourceEstadoCita"
                    [width]="'100%'" [height]='25' name="estados" [autoDropDownHeight]="true"
                    [(ngModel)]="citaRec.estadoCita">
                  </jqxComboBox>
                </div>
              </div>

            </div>
          </div>
          <div class="card card-accent-info" style='margin-left: 5px; margin-right: 5px; margin-top: 10px;
          margin-bottom : 5px;'>
            <div class="card-header">
              <h5 style="padding: 0; margin: 0;"> Datos de la Consulta </h5>
            </div>
            <div class="card-body">
              <div class="form-group row">
                <div class="col-md-2">Diagnóstico: </div>
                <div class="col-md-4 ">
                  <jqxInput #txtDiagnostico class="diagInput" [placeHolder]="'Ingrese el diagnóstico...'" [height]="25"
                    [width]="'100%'" name="diagnostico" [maxLength]="30" [minLength]="2" [theme]="'material'"
                    [(ngModel)]="consultaAng.diagnostico">
                  </jqxInput>
                </div>
                <div class="col-md-2">Observación: </div>
                <div class="col-md-4 ">
                  <jqxTextArea #txtObservacion class="observacionInput" [placeHolder]="'Ingrese una observación...'"
                    [width]="'100%'" [height]="60" [maxLength]="100" name="observacion" [theme]="'material'"
                    [(ngModel)]="consultaAng.observacion">
                  </jqxTextArea>
                </div>
              </div>
            </div>
          </div>
          <div class="row">
            <div class="card-body" style='height: 100%; margin-left: 5px;'>
              <jqxGrid #gridDetalleConsulta [theme]="'material'" [width]="'100%'" [source]="dataAdapterDetalles"
                [columns]="columnsDetalles" [rendergridrows]="rendergridrows" [sortable]="false" [altrows]="true"
                [enabletooltips]="true" [autoloadstate]="true" [autosavestate]="true" [localization]="localization"
                [autoheight]="true" [showtoolbar]="true" [rendertoolbar]="rendertoolbar" [editable]="true"
                [localization]="localization">
              </jqxGrid>
              <!-- (onRowselect)="comprobarEstudianteHabilitado($event)"  -->
            </div>
          </div>
        </div>
      </div>
    </form>
  </jqxValidator>
</div>

<div style="margin-left: 3px; margin-top: 10px; font-size: 13px; font-family: Verdana;" #eventLog></div>

<app-modal-component (PassMethods)="getEvents($event)"></app-modal-component>


<pre>
<!-- {{dataAdapterDetalles| json}}  -->
{{citaRec | json}}    
</pre>