
      <jqxMenu style='margin-left: 3px; margin-top: 5px;' #jqxMenu
        (onItemclick)="itemclick($event)"
        [source]="records"
        [theme]="'material'"
        [width]="'99%'"
        [height]="30">
       </jqxMenu>
       <div style="margin-left: 3px; margin-top: 10px; font-size: 13px; font-family: Verdana;" #eventLog></div>
        <p><jqxGrid style='margin-left: 3px;' [theme]="'material'"
        [width]="'99%'" [source]="dataAdapter" [columns]="columns"
        [pageable]="true" [autoheight]="true" [sortable]="true"
        [altrows]="true" [enabletooltips]="true" [editable]="true"
        [selectionmode]="'multiplecellsadvanced'" [columngroups]="columngroups">
        </jqxGrid></p>
        
 