    <eui-tabs #tt style="height:600px"
        plain="true"
        fit="true"
        [selectedIndex]="selectedIndex"
        (tabClose)="onTabClose($event)"
        (tabSelect)="selectedIndex=tt.getPanelIndex($event)">
      <eui-tab-panel *ngFor="let ini of home" [title]="'Inicio'" iconCls="icon-ok">
          <tab-detail [component]="ini.component" class="f-full f-column"></tab-detail>
        
      </eui-tab-panel>
      <eui-tab-panel *ngFor="let tab of tabs" [title]="tab.title" [closable]="true" bodyCls="f-column">
        <tab-detail [component]="tab.component" class="f-full f-column"></tab-detail>
      </eui-tab-panel>
    </eui-tabs>
 
