<div class="row">
  <div class="col-sm-12">
    <div class="card" style="width: 100%">
      <div class="card-header">
        <jqxMenu style='margin-left: 3px; margin-top: 5px;' (onItemclick)="itemclick($event)" [source]="menuMatricula"
          [theme]="'darkblue'" [width]="'100%'" [height]="30">
        </jqxMenu>
      </div>
      <div class="card-body">
        <jqxGrid #gridReglamentos style='margin-left: 3px;' [theme]="'darkblue'" [width]="'100%'"
          [source]="dataAdapterReglamentos" [columns]="columnsReglamentos" [filterable]="true"
          [pageable]="true"  [showfilterrow]="true" [localization]="localization">
        </jqxGrid>
      </div>
    </div>
  </div>
</div>
<app-modal-component (PassMethods)="getEvents($event)"></app-modal-component>
<!-- 
<pre>
  {{dataAdapterReglamentos |json}}
</pre> -->