<div class="row">
  <div class="col-sm-12">
    <div class="card" style="width: 100%">
      <div class="card-header">
        <jqxMenu style='margin-left: 3px; margin-top: 5px;' (onItemclick)="itemclick($event)" [source]="menuMatricula"
          [theme]="'darkblue'" [width]="'99%'" [height]="30">
        </jqxMenu>
      </div>

      <div class="card-header">
        <div class="row">
          <div class="col-md-1">
            <div style="text-align:left">Tabla:</div>
          </div>
          <div class="col-md-4">
            <jqxComboBox #comboParametricas [theme]="'darkblue'" [selectedIndex]="'-1'" 
            [displayMember]="'tabla'" [valueMember]="'codigo'" [source]="sourceTablasParametricas" [width]="'100%'" [height]='25'
              (onSelect)="listarDatosParametricas()" name="parametricas" [dropDownWidth]="400"  [autoDropDownHeight]="true">
            </jqxComboBox>
          </div>
        </div>
      </div>
      <div class="card-body">
        <jqxGrid #gridDatosParametricas style='margin-left: 3px;' [theme]="'darkblue'" [width]="'100%'"
          [source]="dataAdapterParametricas" [columns]="columnsParametricas" [filterable]="true" [autoheight]="true" 
          [pageable]="true" [showfilterrow]="true" [localization]="localization" [sortable]="false">
        </jqxGrid>
      </div>
    </div>
  </div>
</div>
<app-modal-component (PassMethods)="getEvents($event)"></app-modal-component>

<pre>
  <!-- {{sourceEstudiantesRegistrados |json}} -->
</pre>